.logo {
  width: 250px !important;
}

#link {
  color: #246ab5;
  font-size: 1.25em;
  padding-bottom: 1.9em;
}

#navbar {
  margin-bottom: 0px;
  border-bottom: none;
}

#navbar .ui.items {
  margin-top: 0px;
}

#navbar-extra {
  height: 50px;
  background-color: #246ab5
}

.right.menu {
  padding-right: 50px;
}